/*Reset*/
@import 'reset.css';

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

/*Variables*/
:root{
    --bg: #191516ff;
    --primary: #e4572eff;
    --secondary: #76b041ff;
    --hover: #17bebbff;
    --active: #ffc914ff;
    
}

body{
    background-color: var(--bg);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*Calculator*/
.calculator{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    height: 500px;
    width: 320px;

    background-color: var(--primary);

    border: 2px solid var(--secondary);
}

.display{
    margin: 2rem 0;
    width: 80%;
    height: 5rem;
    background-color: var(--bg);

    border: 2px solid var(--secondary);
}

.pad{
    margin-bottom: 2rem;
    height: 100%;
    width: 80%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 6px;
}

.pad > button{
    border-radius: 0;
    border: none;

    background-color: var(--secondary);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;

    transition: all 0.125s ease-out;
}

.pad > button:hover{
    background-color: var(--hover);
}

.pad > button:active{
    background-color: var(--active);
    transform: scale(0.9);
}

.pad > button[data-key="="]{
    grid-column-end: span 2;
}