/*Reset*/
@import 'reset.css';

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

/*Variables*/
:root{
    --bg: #191516ff;
    --primary: #e4572eff;
    --secondary: #76b041ff;
    --details: #ffc914ff;  
    --green-ryb: #17bebbff;
}

body{
    background-color: var(--bg);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*Calculator*/
.calculator{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    height: 500px;
    width: 320px;

    background-color: var(--primary);
}

.display{
    margin: 2rem 0;
    width: 80%;
    height: 5rem;
    background-color: var(--bg);
}

.pad{
    margin-bottom: 2rem;
    background-color: var(--secondary);
    height: 100%;
    width: 80%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
